<div class="head-menu">
    <div class="wrap">
        <ul class="head-menu-list">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/songs">Bài hát</a></li>
            <li><a href="/singers">Ca sĩ</a></li>
            <li><a href="/musicians">Nhạc sĩ</a></li>
            {{#unless name}}
                <li><a href="/login">Đăng nhập</a></li>
            {{/unless}}
            {{#if name}}
                <div id="nameOfUser" style="position: relative;">
                    {{name}}
                    {{#if isAdmin}}
                        <span id="admin">Admin</span>
                    {{/if}}
                    <div class="user-select">
                        {{#if isAdmin}}
                            <li><a href="/manager">Tải lên</a></li>
                        {{/if}}
                        <li><a href="/logout">Đăng xuất</a></li>
                    </div>
                </div>
            {{/if}}
        </ul>
    </div>
</div>
<div class="side-menu">

</div>
<div class="music-player">
    <div class="info-player" style="width: 90%; height: 57%; margin: 1rem auto; overflow:auto">
        <div class="bg-player show"></div>
        <pre style="font-size: 0.6rem;line-height: 1.3rem;" class="hide lyric">
Mùa thu mang giấc mơ quay về
Vẫn nguyên vẹn như hôm nào
Lá bay theo gió xôn xao
Chốn xưa em chờ
Đoạn đường ngày nào nơi ta từng đón đưa
Còn vấn vương không phai mờ
Dấu yêu thương trong vần thơ
Chúng ta
Là áng mây bên trời vội vàng ngang qua
Chúng ta
Chẳng thể vẹn nguyên những câu thề
Cứ như vậy thôi không một lời lặng lẽ thế chia xa
Chiều mưa bên hiên vắng buồn
Còn ai thương ai mong ai
Điều anh luôn giữ kín trong tim
Thương em đôi mắt ướt nhoà
Điều anh luôn giữ kín trong tim
Thương em đâu đó khóc oà
Điều anh luôn giữ kín trong tim này
Ngày mai nắng gió sương hao gầy
Có ai thương lắng lo cho em
Điều anh luôn giữ kín trong tim
Thương em anh mãi xin là
Điều anh luôn giữ kín trong tim
Thương em vì thương thôi mà
Điều anh luôn giữ kín trong tim
Dù cho nắng tắt xuân thay…
        </pre>
        <div class="list hide">
            
        </div>
    </div>
    <div class="btn-gr">
        <div class="btn btn-lyric"><img src="./img/mic.png">Lời</div>
        <div class="btn btn-list"><i class="pegk pe-7s-musiclist"></i> Danh sách phát</div>
        <div class="btn"><i class="pegk pe-7s-download"></i> Tải</div>
    </div>
    <h2 style="margin: 1rem" class="nameSong">Chúng ta của hiện tại</h2>
    <h4 style="margin: 0 1rem; font-weight: 400" class="singer">Sơn Tùng MTP</h4>
    <audio id="audio" src="./uploads/Chung Ta Cua Hien Tai - Son Tung M-TP.mp3" type="audio/mp3"><!--Bai hat duoc phat-->
    </audio>

    <div class="audio-player">
        <div class="controls">
            <div class="time">
                <span class="curtime unselectable" unselectable="on">00:00</span>
                <div id="progressbar">
                    <div class="progressbar-bg"></div>
                    <div id="progress"></div>
                </div>
                <span class="durtime unselectable" unselectable="on">00:00</span>
            </div>
            <div class="button-gr">
                <span><i id="randomAudioBtn" class="pe-7s-shuffle"></i></span>
                <span><i id="prevAudioBtn" class="pe-7s-prev"></i></span>
                <span><i id="playAudioBtn" class="pe-7s-play"></i></span>
                <span><i id="nextAudioBtn" class="pe-7s-next"></i></span>
                <span><i id="repeatAudioBtn" class="pe-7s-repeat"></i></span>
                <span class="volume-span">
                    <i id="volumeAudioBtn" class="pe-7s-volume"></i>
                    <div class="changeVol">
                        <div id="volume-slider">
                            <div class="progressVol">
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="nextAudio">
        <h4>Bài tiếp theo: Có chắc yêu là đây</h4>
    </div>
</div>