<div class="form-login">
        <ul class="tab-group">
                <li class="tab" data-target="#signup">
                    <a>Đăng ký</a>
                </li>
                <li class="tab active" data-target="#login">
                    <a>Đăng nhập</a>
                </li>
        </ul>
        <div class="tab-content">
            <div id="signup" class="content">
                <h1>Đăng ký miễn phí</h1>
                <form action="/login/register" method="post">
                    <div class="field-wrap">
                        <label>
                            Tên<span>*</span>
                        </label>
                        <input type="text" name="name" required>
                    </div>
                    <div class="field-wrap">
                        <label>Email<span>*</span></label>
                        <input class="mail" type="email" name="email" required pattern="(.+)@(.+)(\.)(.+)">
                    </div>
                    <div class="field-wrap">
                        <label>Mật khẩu<span>*</span></label>
                        <input type="password" name="password" required>
                    </div>
                    <button type="submit">ĐĂNG KÝ</button>
                </form>
            </div>

            <div id="login" class="content show">
                <h1>Chào mừng quay lại!</h1>
                <form action="/login" method="post">
                    <p class="text-danger">{{alertMsg}}</p>
                    <div class="field-wrap">
                        <label>Email<span>*</span></label>
                        <input class="mail" type="text" name="email" required pattern="(.+)@(.+)(\.)(.+)">
                    </div>
                    <div class="field-wrap">
                        <label>Mật khẩu<span>*</span></label>
                        <input type="password" name="password" required>
                    </div>
                    <p class="forgot">
                        <a href="#0">Quên mật khẩu?</a>
                    </p>
                    <button type="submit">ĐĂNG NHẬP</button>
                    
                </form>
            </div>
        </div>
    </div>