<h3 style="text-align: center;">NHẠC SĨ</h3>
    <div class="musicianhbs">
        {{#each musicians}}
            <a href="/musicians/{{this.musician_id}}" class="musicianInfor">
                <div class="musician-bg" style="background-image: url({{this.musician_image}})"></div>
                <p>{{this.musician_name}}</p>
            </a>
        {{/each}}
    </div>