<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nghe nhạc online</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/pngegg.png" type="image/x-icon"><!--Icon tren title-->
    <link rel="stylesheet" href="/pe-icon-7-stroke/css/pe-icon-7-stroke.css"><!--Icon Pe stroke-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div id="app">
        {{>header}}
        <div class="container">
            {{{body}}}
        </div>
        {{>footer}}
    </div>
</body>
<script language="javascript" src="/script/jQuery.js"></script>
<script language="javascript" src="/script/script.js"></script>
</html>